body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin-top: -2rem;
}

#drum-machine {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
  border: 2px solid tomato;
}

#display {
  display: flex;
  border: 1px solid tomato;
  width: 25vw;
  height: 2rem;
  justify-content: center;
  align-items: center;
}

#buttons {
  /* position: absolute;
  top: 1rem;
  left: 38rem; */
}

#volume {
  /* position: absolute; */
  margin: 1rem;
  width: 25vw;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  border-radius: 5px;
  background-color: beige;
  outline: none;
  opacity: 0.8;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;

}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: tomato;
  cursor: pointer;
}

.slider::moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: tomato;
  cursolr: pointer;
}

.slider:hover {
  opacity: 1;
}