body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#drum-machine {
  display: flex;
  justify-content: center;
  align-items: center;
}

#display {
  position: absolute;
  top: 1rem;
  left: 28rem;
}

#buttons {
  position: absolute;
  top: 1rem;
  left: 38rem;
}

#volume {
  position: absolute;
  margin: 4rem;
  width: 40vw;
}

/* #volume input {
  width: 100%;
} */

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  border-radius: 5px;
  background-color: beige;
  outline: none;
  opacity: 0.8;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;

}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: tomato;
  cursor: pointer;

}

.slider:hover {
  opacity: 1;
}