
@mixin thumbStyle() {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: tomato;
  cursor: pointer;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1.5rem;
  background-color: darksalmon;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#drum-machine {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: white;
  border-radius: 0.6rem;
}

#display {
  display: flex;
  border: 1px solid tomato;
  border-radius: 1rem;
  width: 21rem;
  height: 3rem;
  align-self: flex-start;
  background-color: beige;
  color: tomato;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(3, 6rem);
  grid-template-rows: repeat(3, 6rem);
  margin-top: 1rem;
  align-self: flex-start;
  margin-bottom: -2rem;
}

.drum-pad {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  outline: none;
  border: 1px solid tomato;
  font-size: 1.5rem;
  background-color: beige;
  color: tomato;
}

.slider {
  -webkit-appearance: none;
  transform: rotate(270deg);
  transform-origin: 10rem -8rem;
  width: 18rem;
  height: 1.7rem;
  border-radius: 1rem;
  background-color: beige;
  outline: none;
  opacity: 0.85;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border: 1px solid tomato;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  @include thumbStyle();
}

.slider::moz-range-thumb {
  @include thumbStyle();
}

.slider:hover {
  opacity: 1;
}

.center {
  justify-content: center;
  align-items: center;
}

@media (max-width: 850px) and (orientation: landscape) {

  body, .drum-pad {
    font-size: 1rem;
  }

  #drum-machine {
    padding: 1.5rem;
  }

  #display {
    width: 13rem;
    height: 1.8rem;
  }

  #buttons {
    display: grid;
    grid-template-columns: repeat(3, 3.5rem);
    grid-template-rows: repeat(3, 3.5rem);
    margin-bottom: -1.8rem;
  }

  .drum-pad {
    width: 3rem;
    height: 3rem;
  }

  .slider {
    transform: rotate(270deg);
    transform-origin: 5.8rem -4.5rem;
    width: 10rem;
    height: 1.4rem;
  }  

  .slider::-webkit-slider-thumb {
    width: 23px;
    height: 23px;
  }
  
  .slider::moz-range-thumb {
    width: 23px;
    height: 23px;
  }

}

@media (max-width: 550px) and (orientation: portrait) {
  
  body, .drum-pad {
    font-size: 1rem;
  }

  #drum-machine {
    padding: 1.5rem;
  }

  #display {
    width: 12rem;
    height: 1.8rem;
  }

  #buttons {
    display: grid;
    grid-template-columns: repeat(3, 4rem);
    grid-template-rows: repeat(3, 4rem);
    align-self: center;
    margin-bottom: 1rem;
  }

  .drum-pad {
    width: 3.5rem;
    height: 3.5rem;
  }

  .slider {
    transform: none;
    width: 11rem;
    height: 1.4rem;
  }  

  .slider::-webkit-slider-thumb {
    width: 23px;
    height: 23px;
  }
  
  .slider::moz-range-thumb {
    width: 23px;
    height: 23px;
  }
}



